# This is Git's per-user configuration file.
[user]
    name = Dimitris Kastaniotis
    email = d.kastaniotis@iconic.gr
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula
    hyperlinks = true
    features = unobtrusive-line-numbers

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-left-style = "black"
    line-numbers-right-style = "black"
    line-numbers-left-format = "{ln:>3}│"
    line-numbers-right-format = "{ln:>3}│"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[credential]
	helper = /Users/dimkasta/.dotfiles/scripts/git-credential-env.sh
